version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
  - package-ecosystem: "npm"
    directory: "/aw_daily_reporter/web/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
